# Explore Cofffee

Create your own EDA below! Create as many code-blocks as you need.

Once you've completed your EDA, complete the section titled **Reflections** where you will answer questions about your EDA.

In [2]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# import data
coffee = pd.read_csv("../data/crop/coffee_output.csv")

In [4]:
# TODO: view first 5 rows of your data
coffee.head()

,country,subdivision,type,60kgs_bag,year,nonbearing_trees,bearing_trees,nonbear_hectares,bearing_hectares,bearing_trees_per_hectare,nonbearing_trees_per_hectare
0,Brazil,Minas Gerais,Arabica,16.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0
1,Brazil,Espirito Santo,Arabica,2.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0
2,Brazil,Espirito Santo,Robusta,7.5,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0
3,Brazil,Sao Paulo,Arabica,3.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0
4,Brazil,Parana,Arabica,0.5,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0

In [5]:
# TODO: describe your numeric columns
coffee.describe()

,60kgs_bag,year,nonbearing_trees,bearing_trees,nonbear_hectares,bearing_hectares,bearing_trees_per_hectare,nonbearing_trees_per_hectare
count,114.000000,114.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000
mean,8.812281,2012.552632,994.495413,5646.926606,298.055046,2146.513761,2639.027523,3345.082569
std,9.051550,6.265642,310.338484,372.684151,97.572559,96.699000,245.497999,175.124513
min,0.500000,2002.000000,466.000000,4465.000000,148.000000,2010.000000,2106.000000,3030.000000
25%,2.600000,2007.000000,679.000000,5640.000000,205.000000,2070.000000,2552.000000,3191.000000
50%,4.750000,2013.000000,1050.000000,5735.000000,307.000000,2135.000000,2679.000000,3415.000000
75%,12.175000,2018.000000,1185.000000,5810.000000,347.000000,2223.000000,2786.000000,3483.000000
max,34.800000,2023.000000,1510.000000,6200.000000,495.000000,2360.000000,3020.000000,3578.000000

In [6]:
# TODO: display the null values in your dataframe
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       114 non-null    object
 1   subdivision                   114 non-null    object
 2   type                          114 non-null    object
 3   60kgs_bag                     114 non-null    float64
 4   year                          114 non-null    int64
 5   nonbearing_trees              109 non-null    float64
 6   bearing_trees                 109 non-null    float64
 7   nonbear_hectares              109 non-null    float64
 8   bearing_hectares              109 non-null    float64
 9   bearing_trees_per_hectare     109 non-null    float64
 10  nonbearing_trees_per_hectare  109 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 9.9+ KB

In [8]:
# TODO: drop your null values
coffee.dropna(inplace=True)
coffee.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 0 to 113
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       109 non-null    object
 1   subdivision                   109 non-null    object
 2   type                          109 non-null    object
 3   60kgs_bag                     109 non-null    float64
 4   year                          109 non-null    int64
 5   nonbearing_trees              109 non-null    float64
 6   bearing_trees                 109 non-null    float64
 7   nonbear_hectares              109 non-null    float64
 8   bearing_hectares              109 non-null    float64
 9   bearing_trees_per_hectare     109 non-null    float64
 10  nonbearing_trees_per_hectare  109 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 10.2+ KB

In [13]:
# TODO: Select only Minas Gerais

coffee_mg = coffee[coffee["subdivision"] == "Minas Gerais"]
coffee_mg.index.values

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        69,  74,  79,  89,  94,  99, 104, 109])

In [ ]:
# TODO: BEGIN YOUR EDA!

## Reflections

Answer each question based on the visualizations that you've generated.

Remember, you must justify your answers with proof! Look back to W6D3 for more context.

How is bearing trees changing across the years for Minas Gerais? Is this increasing or decreasing? What is the distribution of this variable? Is it normal?

Answer here

How is bearing hectares changing across the years for Minas Gerais? Is this increasing or decreasing? What is the distribution of this variable? Is it normal?

Answer here

How is the count of million 60kgs bags of coffee changing across the years for Minas Gerais? Is this increasing or decreasing? What is the distribution of this variable? Is it normal?

Answer here

What is the relationship between bearing_trees and 60kgs_bag? How *strong* is this relationship? Use pearson's correlation coefficient.

Answer here

What is the relationship between bearing_hectares and 60kgs_bag? How *strong* is this relationship? Use pearson's correlation coefficient.

Answer here